h1{
    height: 100vh;
    margin: 0;
}

body{
    margin: 0;
}

#first{
    background-image: url("hot.jpg");
    background-size: cover;
}

#second{
    background-image: url("juicy.jpg");
    background-size: cover;
}

#third{
    background-image: url("cosy.jpg");
    background-size: cover;
}

.navbar{
    overflow: hidden;
    background-color: grey;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}